.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  overflow: scroll;
}

.teamInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  font-size: 3vh;
}

.logoContainer {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5vw;
  margin-top: 3vh;
}

.logo {
  height: 9vh;
}

@media (min-width: 1000px) {
  .logoContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2vw;
  }
}
