.rosterContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2vh;
}

.playerContainer {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  height: 8vh;
}
