.rosterContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2vh;
  overflow: scroll;
}

.playerContainer {
  height: 8vh;
  overflow: scroll;
  gap: 2vw;
}

.photo {
  height: 8vh;
}

.tableCol {
  width: 200vw;
}

.nameCol {
  width: 50vw;
}

.numCol {
  width: 15vw;
}

.posCol .nationCol {
  width: 20vw;
}

.minsCol {
  width: 15vw;
}

.thead {
  font-size: larger;
  font-weight: bolder;
  border-bottom: 2px solid white;
}

@media (min-width: 1000px) {
  .tableCol {
    width: 100vw;
  }
  .nameCol {
    width: 20vw;
  }

  .numCol {
    width: 10vw;
  }

  .posCol .nationCol {
    width: 15vw;
  }

  .minsCol {
    width: 15vw;
  }
}
