.standingsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2vh;
  width: 100%;
}

.logo {
  width: 5vh;
  height: 5vh;
}

.selectedTeam {
  background-color: lightgray;
  color: black;
}
