.standingsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2vh;
  width: 100%;
}

.logo {
  width: 5vh;
  height: 5vh;
}

.selectedTeam {
  background-color: lightgray;
  color: black;
}

@media (min-width: 1000px) {
  .logo {
    width: 7vh;
    height: 7vh;
  }

  .standingsContainer {
    font-size: 2.7vh;
    width: 100%;
    align-items: center;
  }

  .table {
    width: 50vw;
  }
}
