.teamLogo {
  margin-top: 10vh;
  margin-bottom: 2vh;
  height: 20vh;
  width: 20vh;
  /* width: auto; */
}

.buttonList {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.menuBtn {
  position: absolute;
  right: 5vw;
  font-size: 3vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(10px);
  margin-bottom: 5vh;
  width: 100vw;
}

.marginBtn {
  margin-bottom: 5vh;
}

.infoDiv {
  width: 100vw;
  text-align: center;
}

.infoH2 {
  margin-top: 1vh;
}

.table {
  width: 90vw;
  text-align: center;
  font-size: 2vh;
  margin-bottom: 5vh;
}

.buttonListContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.buttonList {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

.moreBtn {
  width: 40vw;
  height: 5vh;
}

.statBox {
  margin-top: 2vh;
  width: 100vw;
  /* border: 2px solid white; */
  transition: height 1s ease;
  font-size: 2.2vh;
}

.tableStat {
  margin-top: 2vh;
  width: 100vw;
  text-align: center;
  font-size: 2vh;
  margin-bottom: 2vh;
}

.center {
  text-align: center;
}

.grey {
  background-color: gray;
}

.caption {
  font-size: 2.2vh;
  border-top: 2px solid white;
  color: aqua;
}

.tableUnderline {
  border-bottom: 2px solid white;
}

@media (min-width: 1000px) {
  .statBox {
    width: 80vw;
  }

  .tableStat {
    width: 80vw;
  }

  .buttonListContainer {
    width: 80vw;
  }

  .buttonList {
    width: 80vw;
  }
}
